<!--
<p id="notice"><%= notice %></p>
<!-- comment because we have an anternative search form.
<form class="form-line">
  <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
  <%= submit_tag "Search" %>
  <% end %>
</form>
-->
<div class="container">
  <h1>Articles</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Created At</th>
        <th>Created By</th>
        <th>Views</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= time_ago_in_words(article.created_at) %></td>
        <td><%= article.user.email %></td>
        <td><%= article.impressionist_count %></td>
        <td><%= @markdown.render(article.body).html_safe %></td>
        <td><%= link_to 'Show', article %></td>
        <% if user_signed_in? %>
          <% if article.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: "Do you want to delete the articles #{article.title}?" } %></td
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>

</div>
